* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: #f9fafc;
  color: #333;
  background:url('./wall1.avif');
  background-size: cover;
}

.container {
  display: flex;
  padding: 30px;
  gap: 25px;
}

/* Sidebar */
.filters {
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  height: fit-content;
}

.filters h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.filters label {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
}

.filters input {
  margin-right: 8px;
  accent-color: #007bff;
}

/* Content */
.content {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.content h2 {
  margin-bottom: 25px;
  color: #111;
}

.category-title {
  color: #007bff;
  font-size: 18px;
  margin: 25px 0 10px;
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

.company-card {
  background: #f4f7fc;
  border-radius: 10px;
  padding: 12px 14px;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.company-card:hover {
  background: #eaf3ff;
  transform: translateY(-2px);
}
