body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    background:url('./wall1.avif');
    background-size: cover;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
#player {
    margin: 20px auto;
}
div {
    text-align: center;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #0078ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #005fcc;
}
nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}
iframe{
    width:720px;
    height:480px;
    border-radius: 10px;
    border:none


}